.postList {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.post {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  gap: 2rem;

  button {
    justify-self: start;
    align-self: center;

    background-color: var(--primary-color);
    color: white;

    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}
